<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="cn/com/dhcc/cgn/mobins/db/db-config.properties"></properties>
	<environments default="devSQLServer2008">
		<environment id="devSQLServer2008">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
			      <property name="driver" value="${debug_db_driver}"/>
			      <property name="url" value="${debug_db_url}"/>
			      <property name="username" value="${debug_db_username}"/>
			      <property name="password" value="${debug_db_password}"/>
			</dataSource>
		</environment>
		<environment id="cgnSQLServer2008">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
			      <property name="driver" value="${db_driver}"/>
			      <property name="url" value="${db_url}"/>
			      <property name="username" value="${db_username}"/>
			      <property name="password" value="${db_password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="cn/com/dhcc/cgn/mobins/report/dao/report-sqlmap.xml" />
		<mapper resource="cn/com/dhcc/cgn/mobins/setting/dao/target-sqlmap.xml" />
		<mapper resource="cn/com/dhcc/cgn/mobins/setting/dao/mob-dest-host-sqlmap.xml" />
		<mapper resource="cn/com/dhcc/cgn/mobins/inspection/dao/host-inspection-point-sqlmap.xml" />
		<mapper resource="cn/com/dhcc/cgn/mobins/report/dao/inspection-records-sqlmap.xml" />
		
		<!-- 
		<mapper resource="cn/com/dhcc/inspection/collector/cnf/sqlmap/cnf-sqlmap.xml" />
		-->
	</mappers>
</configuration>